extends base.pug

mixin pagination_nav
    //- only add the nav if there are more then 1 pagination pages
    if pagination.getPages(20).length > 1
        br
        span(id="pagination_nav")

            //- add a go back one link if there are previous pages
            if pagination.previous
                span(class="pag_nav_link") 
                    a(href=pagination.previous.path.href) < previous
            else
                span(class="pag_nav_link") < previous

            //- add quick jump links to nearby pagination pages
            each page in pagination.getPages(13)
                //- no link for the current page just the number
                if page.pagination.num == pagination.num
                    span(class="pag_nav_link") #{pagination.num}

                //- narrow it down so we only show 6 up or 6 below the current pagenumber
                else 
                    span(class="pag_nav_link") 
                        a(href=page.path.href) #{page.pagination.name}
                            

            //- add a go forward one link if next exists
            if pagination.next
                span(class="pag_nav_link") 
                    a(href=pagination.next.path.href) next >
            else
                span(class="pag_nav_link") next >
        br


block content
    !=contents
 
    //- add in the initial pagination navigation
    +pagination_nav

    each post in pagination.files
        article(class="post_preview")
            //- Must pull several variables out of the post var so partial can use them.
            - var title = post.title
            - var title_link = post.path.dhref + post.path.name
            - var date = post.date
            - var tags = post.tags
            include partials/post_header.pug

            p Summery: #{post.summery_text}

            span 
               a(href=title_link + ".html") Read More

    //- add in the post-list pagination navigation
    +pagination_nav


