extends base.pug

block content
    !=contents

    each post in pagination.files
        
       h1 
           a(href=post.path.dhref + post.path.name + ".html") #{post.title}

       if post.tag_list[0]
           p Tags: 
               each tag in post.tag_list
                   span(class="post_tag") #{tag} 

       p Summery: #{post.summery_text}

       span 
           a(href=post.path.dhref + post.path.name + ".html") Read More
