extends base.pug

block content
    article
        header(class="post_header")
            h2 #{title}
            p Publish Date:
                span(class="date")  #{date}
            include partials/tag_list.pug

        if put_summery_in_body
            p #{summery_text}

        !=contents

        div(id="post_nav")
          //- Note may be a bit confusing but we have to swap the previous/next nomanclature so newest posts come to the top.
          //- the collection is reverse sorted meaning that the next field is actually showing an older post.
          if next
              a(href=next.path.dhref + next.path.name + ".html") < Older Posts
          span
          if previous
              a(href=previous.path.dhref + previous.path.name + ".html") Newer Posts >
