extends base.pug

block content
    !=contents

    p Below is a listing of all pages with the tag <b>#{tag}</b> from newest to oldest.

    each post in pagination.files
        article(class="post_preview")
            header(class="post_header")
                h1 
                    a(href=post.path.dhref + post.path.name + ".html") #{post.title}

                p Publish Date:
                    span(class="date")  #{post.date}

                //- must pull this variable out of individual posts so the tag_list partial can use it
                - var tag_list = post.tag_list
                include partials/tag_list.pug

            p Summery: #{post.summery_text}

            span 
                a(href=post.path.dhref + post.path.name + ".html") Read More
