aside(class="aside_"+positioning.aside_position)
    if recent_posts[0]
        section(id="recent_posts")
            h2 Recent #{site.posts_name} Posts
            each post in recent_posts
                p
                    a(href=post.path.dhref + post.path.name + ".html") #{post.title}
    if site.sidebar_links_list[0]
        section(id="links")
            h2 #{site.sidebar_links_name}
            each link in site.sidebar_links_list
                p
                    a(href=link.link) #{link.text}
        
        
