aside(class="aside_"+sidebar.position)

    //-setup the recent posts section.
    if recent_posts[0]
        section(id="recent_posts")
            h2 Recent #{site.posts_name} Posts
            div 
                each post in recent_posts
                    p
                        a(href=post.path.dhref + post.path.name + ".html") #{post.title}

    //-Build the tag cloud sidebar section
    if taxonomies
    
        //- get the tags list so we can add them as content
        - var tags
        if taxonomies.posts
            - tags = Object.keys(taxonomies.posts.tags)
        //-annoyingly taxonomies plugin changes the metadata for their generated pages so we have to handle those slightly differently
        if taxonomies.tags
            - tags = Object.keys(taxonomies.tags)
        
        if tags
            section(id="tag_cloud")
                h2 #{site.posts_name} Tags
                div
                    each tag in tags
                        span(class="post_tag")
                            a(href="/posts/tags/"+tag+".html") #{tag}
                        
        

    //-if site.sidebar_links_list[0]
    //-    section(id="links")
    //-        h2 #{site.sidebar_links_name}
    //-        each link in site.sidebar_links_list
    //-            p
    //-                a(href=link.link) #{link.text}
        
        
