aside(class="aside_"+positioning.aside_position)
    if recent_posts[0]
        section(id="recent_posts")
            h2 Recent #{site.posts_name} Posts
            each post in recent_posts
                p
                    a(href=post.path.dhref + post.path.name + ".html") #{post.title}

    if tags
         section(id="tag_cloud")
             h2 #{site.posts_name} Tags
             each tag in Object.keys(tags)
                 span(class="post_tag")
                     a(href="/posts/tags/"+tags[tag].urlSafe+".html") #{tag.toLowerCase().replace(/(^| )(\w)/g, function(x) { return x.toUpperCase() })}

    if site.sidebar_links_list[0]
        section(id="links")
            h2 #{site.sidebar_links_name}
            each link in site.sidebar_links_list
                p
                    a(href=link.link) #{link.text}
        
        
